<h1>{{title}}</h1>

<ul class="alert alert-danger" *ngIf="errores?.length > 0">
  <li *ngFor="let err of errores">
    {{ err }}
  </li>
</ul>
<div class="card">
  <div class="card-header">
    {{title}}
  </div>
  <div class="card-body">
    <form #empleadoForm="ngForm">
      <div class="alert alert-primary">
        Todos los campos con <span class="required-indicator">*</span> son requeridos
      </div>
      <div class="form-group">
        <label>Cédula<span class="required-indicator">*</span></label>
        <input type="text" class="form-control" [(ngModel)]="empleado.cedula" name="cedula" minlength="10"
               maxlength="10" placeholder="Cédula" required pattern="[0-9]*"
               #cedula="ngModel">

        <div class="alert alert-danger" *ngIf="cedula.invalid && (cedula.dirty || cedula.touched)">
          <div *ngIf="cedula.errors.required">
            Cédula es requerida
          </div>
          <div *ngIf="cedula.errors.minlength">
            Cédula debe tener 10 caracteres
          </div>
          <div *ngIf="cedula.errors.maxlength">
            Cédula debe tener 10 caracteres
          </div>
          <div *ngIf="cedula.errors.pattern">
            Cédula debe contener solamente números
          </div>
        </div>

      </div>

      <div class="form-group">
        <label>Nombres <span class="required-indicator">*</span></label>
        <input type="text" class="form-control" [(ngModel)]="empleado.nombres" name="nombres" placeholder="Nombres"
               required pattern="[a-zA-Z ]*"
               #nombres="ngModel">

        <div class="alert alert-danger" *ngIf="nombres.invalid && (nombres.dirty || nombres.touched)">
          <div *ngIf="nombres.errors.required">
            Nombres es requerido
          </div>
          <div *ngIf="nombres.errors.pattern">
            Nombres debe contener solamente letras
          </div>
        </div>

      </div>

      <div class="form-group">
        <label>Apellidos<span class="required-indicator">*</span></label>
        <input type="text" class="form-control" [(ngModel)]="empleado.apellidos" name="apellidos"
               placeholder="Apellidos" required pattern="[a-zA-Z ]*"
               #apellidos="ngModel">
        <div class="alert alert-danger" *ngIf="apellidos.invalid && (apellidos.dirty || apellidos.touched)">
          <div *ngIf="apellidos.errors.required">
            Apellidos es requerido
          </div>
          <div *ngIf="apellidos.errors.pattern">
            Apellidos debe contener solamente letras
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Correo electrónico<span class="required-indicator">*</span></label>
        <input type="text" class="form-control" [(ngModel)]="empleado.email" name="email" email
               placeholder="Correo electrónico" required
               #email="ngModel">

        <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
          <div *ngIf="email.errors.required">
            Email es requerido
          </div>
          <div *ngIf="email.errors.email">
            Email debe contener un formato válido
          </div>
        </div>

      </div>


      <div *ngIf="!hasRole('ROLE_ADMIN')">
        <div class="form-group">
          <label>Fecha Nacimiento<span class="required-indicator">*</span></label>
          <br>
          <input matInput [matDatepicker]="picker" class="form-control" [(ngModel)]="empleado.fechaNacimiento"
                 name="fechaNacimiento" style="display: inline; width: 800px">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </div>

        <div class="form-group">
          <label>Domicilio<span class="required-indicator">*</span></label>
          <input type="text" class="form-control" [(ngModel)]="empleado.domicilio" name="domicilio"
                 placeholder="Domicilio" required
                 #domicilio="ngModel">
          <div class="alert alert-danger" *ngIf="domicilio.invalid && (domicilio.dirty || domicilio.touched)">
            <div *ngIf="domicilio.errors.required">
              Domicilio es requerido
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Teléfono<span class="required-indicator">*</span></label>
          <input type="text" class="form-control" [(ngModel)]="empleado.telefono" name="telefono"
                 placeholder="Teléfono" required pattern="[0-9]*" minlength="10" maxlength="10"
                 #telefono="ngModel">
          <div class="alert alert-danger" *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)">
            <div *ngIf="telefono.errors.required">
              Teléfono es requerido
            </div>
            <div *ngIf="telefono.errors.minlength">
              Teléfono debe tener 10 caracteres
            </div>
            <div *ngIf="telefono.errors.maxlength">
              Teléfono debe tener 10 caracteres
            </div>
            <div *ngIf="telefono.errors.pattern">
              Teléfono debe contener solamente números
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Estado Vacunación<span class="required-indicator">*</span></label>
          <select class="form-control" [(ngModel)]="empleado.estadoVacunacion" name="tipoVacuna"
                  required  #estadoVacunacion="ngModel">
            <option value="">Seleccione...</option>
            <option value="Vacunado">Vacunado</option>
            <option value="No Vacunado">No Vacunado</option>
          </select>
          <div class="alert alert-danger"
               *ngIf="estadoVacunacion.invalid && (estadoVacunacion.dirty || estadoVacunacion.touched)">
            <div *ngIf="estadoVacunacion.errors.required">
              Estado Vacunación es requerido
            </div>
          </div>
        </div>

        <div class="form-group" *ngIf="empleado.estadoVacunacion == 'Vacunado'">
          <label>Tipo Vacuna<span class="required-indicator">*</span></label>
          <select class="form-control" [(ngModel)]="empleado.tipoVacuna" name="tipoVacuna" #tipoVacuna="ngModel"
                  required>
            <option value="">Seleccione...</option>
            <option value="Sputnik">Sputnik</option>
            <option value="AstraZeneca">AstraZeneca</option>
            <option value="Pfizer">Pfizer</option>
            <option value="Jhonson&Jhonson">Jhonson&Jhonson</option>
          </select>
          <div class="alert alert-danger" *ngIf="tipoVacuna.invalid && (tipoVacuna.dirty || tipoVacuna.touched)">
            <div *ngIf="tipoVacuna.errors.required">
              Tipo Vacuna es requerido
            </div>
          </div>
        </div>

        <div class="form-group" *ngIf="empleado.estadoVacunacion == 'Vacunado'">
          <label>Fecha vacunación<span class="required-indicator">*</span></label>
          <br>
          <input matInput [matDatepicker]="picker" class="form-control" [(ngModel)]="empleado.fechaVacunacion"
                 name="fechaVacunacion" style="display: inline; width: 800px" required #fechaVacunacion="ngModel">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>

          <div class="alert alert-danger" *ngIf="fechaVacunacion.invalid && (fechaVacunacion.dirty || fechaVacunacion.touched)">
            <div *ngIf="fechaVacunacion.errors.required">
              Fecha de vacunación es requerida
            </div>
          </div>
        </div>
        </div>

        <div class="form-group" *ngIf="empleado.estadoVacunacion == 'Vacunado'">
          <label>Número de dosis<span class="required-indicator">*</span></label>
          <input type="text" class="form-control" [(ngModel)]="empleado.numeroDosis" name="numeroDosis"
                 placeholder="numeroDosis" required required pattern="[0-9]*"
                 #numeroDosis="ngModel">
          <div class="alert alert-danger" *ngIf="numeroDosis.invalid && (numeroDosis.dirty || numeroDosis.touched)">
            <div *ngIf="numeroDosis.errors.required">
              Número de dosis es requerido
            </div>
            <div *ngIf="cedula.errors.pattern">
              Número de dosis debe contener solamente números
            </div>
          </div>
        </div>


      </div>

      <fieldset>
        <div class="text-right">
          <button role="button" class="btn btn-primary" (click)="create()" *ngIf="!empleado.id else elseBlock"
                  [disabled]="!empleadoForm.form.valid">Guardar
          </button>
          <ng-template #elseBlock>
            <button role="button" class="btn btn-primary" (click)="update()" [disabled]="!empleadoForm.form.valid">
              Actualizar
            </button>
          </ng-template>
        </div>
      </fieldset>
    </form>
  </div>
</div>
